.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}

.grid-item {
    padding: var(--spacing-small);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}
